---
import TitleCenter from "./TitleCenter.astro";
import Button from "./Button.astro";
---

<div class="end-section">
    <TitleCenter lines={["Are you", "ready to", "shine?"]} />
    <Button text="Contact us" href="/contact" />
</div>

<style>
    .end-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        height: 100svh;
        width: 100%;
        padding: 2rem 1rem; /* Add some padding */
        gap: 3rem;
    }

    :global(.end-section .title-path h2) {
        position: relative;
        overflow: visible;
    }
    
    :global(.end-section .title-path h2:hover) {
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(135deg, #FFFFFF, #FFFFFF, #A7D6FF, #64B5FF, #A7D6FF, #FFFFFF, #A7D6FF, #64B5FF, #ffffff);
        background-size: 400% 400%;
        animation: textShine 10s linear infinite;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }

    @keyframes textShine {
        0% { background-position: 0% 0%; }
        50% { background-position: 100% 100%; }
        100% { background-position: 0% 0%; }
    }

        
</style>
