---
---

<h1>
  <span>we make</span>
  <span>your website</span>
  <span>shine</span>
</h1>

<style>
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: 400;
    line-height: 0.9;
    text-transform: uppercase;
    margin: 0 auto;
    font-family: var(--font-titles);
  }

  span {
    display: block;
    font-size: clamp(3rem, 10vw, 7.125rem);
  }

  span:nth-child(3) {
    text-shadow: 0 0 10px #fff,
                 0 0 20px #88d8ff,
                 0 0 30px #88d8ff,
                 0 0 40px #1e90ff,
                 0 0 70px #1e90ff,
                 0 0 80px #0066cc,
                 0 0 100px #003399,
                 0 0 150px #000066;
  }
</style>
