---
---

<h1>
  <span>we make</span>
  <span>your website</span>
  <span>shine</span>
</h1>

<style>
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: 400;
    line-height: 0.9;
    text-transform: uppercase;
    margin: 0 auto;
    font-family: var(--font-titles);
  }

  span {
    display: block;
    font-size: clamp(3rem, 10vw, 7.125rem);
  }

  span:nth-child(3) {
    /* Reducir significativamente la cantidad de capas de sombra */
    text-shadow: 0 0 10px #fff,
                 0 0 20px #88d8ff,
                 0 0 40px #1e90ff;
    /* Alternativa: usar un filtro de brillo que es más eficiente */
    /* filter: brightness(1.2); */
  }
</style>
