---
interface Props {
  lines: string[];
}

const { lines } = Astro.props;
---

<div class="title-path">
  <h2>
    {lines.map((line) => <span>{line}</span>)}
  </h2>
</div>

<style>
  .title-path {
    margin: 0 auto;
    display: grid;
    align-items: center;
  }

  .title-path h2 {
    font-family: var(--font-titles);
    font-size: clamp(3rem, 10vw, 7.125rem);
    text-transform: uppercase;
    text-align: center;
    line-height: 0.9;
    margin: 0;
    letter-spacing: -0.02em;
  }

  .title-path h2 span {
    display: block;
  }


  .title-path h2 {
    position: relative;
    overflow: visible;
  }
</style>
